/*
Font: 		Cinderblock
Style: 		125
URL: 		https://www.youworkforthem.com/font/T5617/cinderblock
Foundry: 	Stefan Kjartansson
Foundry: 	https://www.youworkforthem.com/designer/56/stefan-kjartansson
Copyright:	Copyright © 2015 Stefan Kjartansson. All rights reserved.
Version: 	17
Created:	March 26, 2015
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Cinderblock-125';
	src: url('cinderblock-125.eot');
	src: url('cinderblock-125.eot?#iefix') format('embedded-opentype'),
             url('cinderblock-125.woff2') format('woff2'),
	     url('cinderblock-125.woff') format('woff'),
	     url('cinderblock-125.ttf') format('truetype'),
	     url('cinderblock-125.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
